h1{
    text-align: center;
    margin: auto;
    color: red
}
.container{
    text-align: center;
    margin: auto;  
}

.background{
  background-color: black  
}
#background{
background-color: black  

}